/*footer*/
footer{
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
}
footera {
color: #555;
}
footera:hover{
color: #222;
}
footersmall {
float: left;
}
footerul{
float: right;
list-style: none;
}
footerulli{
float: left;
margin-left: 15px;
}
